<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="CMakeRunConfiguration" factoryName="Application" WORKING_DIR="" PASS_PARENT_ENVS_2="true" PROJECT_NAME="NetworkProgramming" TARGET_NAME="Server" CONFIG_NAME="Debug" RUN_TARGET_PROJECT_NAME="NetworkProgramming" RUN_TARGET_NAME="Server">
    <envs />
    <method />
  </configuration>
</component>